.screen {
    height: 33.3%;
    width: 85%;
    position: relative;
    padding-top: 5%;
    border-bottom: 1px solid white;
}

.box {
    position: absolute;
    height: 150px;
    right: 0;
    top: 10%;
    overflow-y: auto;
}

.exp {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: flex-end;
    overflow-wrap: anywhere;
    font-size: 25px;
    margin: 0px;
}

.sum {
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    margin: 0px;
}